html, body{
  background-image: url("../images/background.jpg");
  background-color: gray;
  font-family: cursive, monospace, serif, sans-serif;
}

.container {
  background-color: #FDE3A7;
  margin-top: 20px;
  padding-bottom: 15px;
  border-radius: 0 0 10px 10px;
  border-top: 1px solid black;
}

h1 {
  background-img: url("../images/background.jpg");
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 60px;
  background-color: #FDE3A7;
  border-top: 1px solid black;
  border-bottom: 1px  solid black;
}

.row {
  background-color: #E9D460;
  border-radius: 5px;
  margin: 20px;
}

p {
  font-size: 18px;
}

#result img {
  height: 350px;
  width: 900px;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#result {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

a:hover {
  text-decoration: none;
}

/* ----- form styles ----- */
form {
  border-top: 1px solid black;
  padding-top: 15px;
}
.form label {
  font-size: 20px;
}

.form-group {
  padding-right: 70%;
}

button {
margin-left: 45%;
}

/* ----- styles for hidden vacation results below ----- */
.moon, .dubai, .heck {
  display: none;
}
