html {
  background-color: #AEA8D3;
  font-family: cursive, monospace, serif, sans-serif;
}

.container {
  background-color: #E4F1FE;
  padding-bottom: 15px;
  border-radius: 0 0 10px 10px;
}

h1 {
  text-align: center;
}

#result img {
  height: 350px;
  width: 500px;
}

/* ----- form styles ----- */
form {
  border-top: 1px solid black;
  padding-top: 15px;
}
.form label {
  font-size: 20px;
}

.form-group {
  padding-right: 70%;
}

/* ----- styles for hidden vacation results below ----- */
.moon, .dubai, .heck {
  display: none;
}
